<div
  class="hero-image">
  <img src="{{ '/assets/img/hero-image.png' | relative_url }}" alt="" class="responsive">
  <div class="hero-text">
    <h1 style="font-style: italic">Next Step after Your PhD</h1>
    <br>
    <p>A platform created for and by early-career researchers navigating postdoctoral research position in Earth Sciences</p>
    <br>
    <button><a class="hero-button" style="text-decoration:none;" href="{{ '/contact' | relative_url }}">Collaborate with us</a></button>
  </div>
</div>