<div id="popup" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <picture>
      <source srcset="{{ '/assets/img/webinar/coming_soon.webp' | relative_url }}" type="image/webp">
      <img src="{{ '/assets/img/webinar/coming_soon.png' | relative_url }}"
           alt="What's the Next Step After Your PhD?"
           width="1280" height="720"
           loading="lazy"
           class="responsive">
    </picture>
    <a href="{{ '/webinar/s01e01' | relative_url }}" class="popup-cta">Learn More</a>
    <!-- {% include hero-CTA.html %} -->
  </div>
</div>
<script src="assets/js/popup.js"></script>