{% assign p = site.data.popup %}
<div id="popup" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <picture>
      <img src="{{ '/assets/img/webinar/' | append: p.image | relative_url }}"
           alt="{{ p.alt }}"
           width="1280" height="720"
           loading="lazy"
           class="responsive">
    </picture>
    <a href="{{ p.link | relative_url }}" class="popup-cta">Learn More</a>
  </div>
</div>
<script src="{{ 'assets/js/popup.js' | relative_url }}"></script>
