---

---

@import "{{ site.theme }}";
body {
  margin: 0;
  background: #063D88;
}

.site-header,
.site-footer {
  background: #063D88;
}

.page-content {
  background: white;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  width: 100%;
  background: #063D88;
  color: white;
  padding: 2rem 0;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-left p {
  margin: 0;
  align-items: left;

}


.footer-right a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  align-items: right;

}

// Edit here
.site-header {
  width: 100%;
  background: #063D88;
  color: white;
  
}

.site-header-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  
}

.site-title {
  font-size: clamp(1.2rem, 3vw, 2rem);;
  font-weight: 600;
  color: white;
  text-decoration: none;
  
}

.site-nav a {
  font-size: clamp(0.85rem, 1vw, 1rem);
}

header,
footer {
  float: none !important;
  width: 100% !important;
  position: static !important;
}

.wrapper {
  width: 100% !important;
  max-width: none !important;
  margin: 0 !important;
}

section {
  width: 100% !important;
  margin: 0 !important;
}